{% extends "base.html" %}
{% block title %}Input Sequence{% endblock %}
{% block content %}
<h2>Input Sequence</h2>
<h6>To get started, paste in the sequence in the field and choose 'GENE' and the corresponding species</h6>
<h6>If just analyzing primer, select 'PRIMER' and analyze </h6>
<body>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST">
    <div type="text" class="form-group" required>{{render_field(form.seq)}}</div>
    <div class="form-group">{{render_field(form.primer)}}</div>
    <div class="form-group">{{render_field(form.species)}}</div>
    <p><input class="btn btn-primary" type="submit" value="Analyze">
</form>
</body>
{% endblock %}